<!-- Left Side Image -->
<div class="columns is-mobile is-centered">
  <div class="column image is-fullwidth">
    <img src="https://lh3.googleusercontent.com/proxy/9By6DOb9Rkzl4UKPsBM_QMvvqjBG2lDq5n5OtdtAqH_7WMoULtpSZh5R-czPAVkT6D9ng6iIhEVsFkGBnm1a1CQ2_9okSvwanYndspS5yW3q6cRiwum8IjPk8b0l3RfYcpyAOsIxBoGeMib3tb04IDRX5ig=s0-d" alt="">
  </div>
  <div class="column">
    <img style="margin-top:5px; justify-self:center;" class="is-centered" src="https://github.com/GeorgiaHunt89/Star-Wars-App/blob/main/image/recipe%20scraper%20square%20logo.gif?raw=true" alt="recipe scraper logo"  width="450" alt="logo image"/>
    <p class="subtitle is-4">The ultimate in simplistic recipe storage</p>
    <p style="margin-right:5px;" class="subtitle is-6">We scrape each recipe to eliminate the additional blog posts and story lines, removing all the extra stuff and providing you with the recipe in one easy to locate dashboard.<br> 
    No more endless tabs saved to your desktop and mindless scrolling</p>
    <p class="subtitle is-6">Let's get cooking!</p>  

  <a href="/signup" type="btn" class="btn btn-dark">Sign Up</a>
  <br>
  <br>
    <p class="subtitle is-6">Or log in <a href="/login">here</a></p>
     </div>

<script type="text/javascript" src="/js/signup.js"></script>

